<!--Header component-->
<div class="header-main">
    <p>
        <mat-toolbar color="primary" class="header-main">
            <span>My App</span>
            <span class="example-spacer"></span>
            <span class="username" *ngIf="loggedInFlag">{{loggedInUser}}</span>
            <button mat-raised-button color="warn" class="example-icon logout-button" *ngIf="loggedInFlag" (click)="logout()">Logout</button>
            <button mat-raised-button color="accent" class="example-icon logout-button" *ngIf="!loggedInFlag" (click)="navigateToLogin()">Login</button>
        </mat-toolbar>
    </p>
</div>