/* Default styles for the register card */
.register-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 530px;
    height: auto;
    margin: auto;
    padding: 20px;
    margin-top: 5px;
    border-bottom: 4px solid #0a2472;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .register-card {
        width: 90%;
        /* Adjust the width for smaller screens */
        max-width: 350px;
        /* Limit the maximum width */
        margin-top: 2px;
        /* Adjust spacing for smaller screens */
        padding: 15px;
        /* Adjust padding for smaller screens */
    }
}

.register-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

mat-form-field {
    margin-bottom: 20px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.register-button {
    width: 100%;
}

.register-form-header {
    padding-bottom: 35px;
    padding-left: 0px !important;
}

.register-link {
    margin-top: 20px;
}

.font-red {
    color: red;
    cursor: pointer;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.check-username {
    cursor: pointer;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.main-register-container {
    padding-top: 66px;
    padding-bottom: 66px;
}